h1,h2,h3,h4,h5,h6,p,div{
	margin: 0;
	padding: 0
}
.main_nav{
	background-color: #333;
	margin-bottom: 20px
}
.main_nav .nav-item.active .nav-link{
	color: #fff
}
.main_nav .nav-item .nav-link ,.main_nav .navbar-brand{
	color: #fff
}
/*.main_post{
	width: 70%;
	margin: auto;
}*/
.main_post .card{
	margin: 20px;
    box-shadow: 0 0 5px 5px #333;
}
/*.post .card .card-body{
	padding: 0
}*/
.main_post .card .post_date{
padding: 10px;
    background: #434343;
    color: #fff;
    font-size: 25px;
}
.main_post .card .post_date span{
	color: black;
    text-shadow: 0 0 5px #fge;
    text-shadow: 0 0 5px #fff;
    font-size: 18px;
}
.main_post .card .post_title{
	font-size: 30px;
    color: #27273f;
}
